@import 'variables';

body {
  color: $foreground-color;

  header {
    background-color: $background-color;
    color: black;
  }

  #map {
    background-color: $background-color;
  }

  footer {
    background-color: $background-color;
  }
}
