@import 'variables';
@import 'fonts';
@import 'bulma';
@import 'bulma-css-burger';
@import 'type-scale';

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;
  font-weight: 300;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  color: $foreground-color;

  header {
    background-color: $background-color;
    color: black;
  }

  #map {
    background-color: $background-color;
  }

  main {
    /* vertical | horizontal */
    padding: 2em 1em;
  }

  footer {
    background-color: $background-color;
  }
}

.list {
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.list__item--bathingspots {
  list-style: none;
  // height: auto;
  line-height: 2em;

  & a {
    text-decoration: none;
    width: auto;
    display: block;
    color: $foreground-color;

    &:hover {
      background-color: rgba(37, 15, 118, 0.5);
    }

    & span.spot-title {
      padding-left: 1em;
      font-weight: 700;
    }

    & span.spot-water {
      padding-left: 1em;
    }
  }

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

span.asteriks {
  font-weight: 700;
}

// #navbar-toggle-cbox:checked ~ .navbar-menu {
//   display: block;
// }

// #navbar-toggle-cbox {
//   display: none;
// }
