form {
  &.questions__form {
    width: 100%;
    float: 'left';

    .column {
      .control {
        .field {
          label {
            input {
              margin-right: 2em;
            }
          }
        }
      }
    }
  }
}
