ul {
  list-style-type: disc;
  padding-left: 1em;
}

.index__bathingspot-list {
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.bathingspot__body-addon,
.index__bathingspot-list {
  ul {
    list-style: none;

    li {
      list-style: none;
    }
  }
}

li.index__bathingspot-list-item {
  line-height: 2em;

  & a {
    text-decoration: none;
    width: auto;
    display: block;
    color: $foreground-color;

    &:hover {
      background-color: rgba(37, 15, 118, 0.5);
    }

    & span.spot-title {
      padding-left: 1em;
      font-weight: 700;
    }

    & span.spot-water {
      padding-left: 1em;
    }
  }

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
